@font-face {
  font-family: 'Avenir Next Regular';
  src: url('../fonts/Avenir/AvenirNextLTPro-Regular.otf');
}

@font-face {
  font-family: 'Avenir Next Bold';
  src: url('../fonts/Avenir/AvenirNextLTPro-Bold.otf');
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/Avenir/AvenirNextLTPro-It.otf');
  font-style: italic;
}