@media screen and (max-width: 1024px) {
  .heading {
    &--h1 {
      line-height: 50px;
      font-size: 40px;
    }
  }
}

@media screen and (max-width: 768px) {
  .heading {
    &--h1 {
      line-height: 40px;
      font-size: 32px;
    }
  }
}
