@use 'helpers' as *;

.btn {
  border-radius: 3px;
  background-color: $primary-color;
  padding: 19px 42px;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  color: #fff;
  border: none;
  cursor: pointer;
  // @include box-shadow(0px, 30px, 30px);
  // transition-property: all;
  // transition-duration: 0.75s;
  // transition-delay: 0.5s;
  // transition-timing-function: ease;
  // transition: all 0.75s ease 0.5s;


  animation-name: box-shadow, background-color;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  &:hover {
    // transform: scale(1.1);
    // background-color: darken($primary-color, 20%);
    animation-play-state: paused;
  }

  @media screen and (max-width: 768px) {
    padding: 12px 32px;
    font-size: 15px;
  }

  &--secondary {
    @include box-shadow(10px, 0, 10px, rgba(0, 0, 0, 0.5));
  }
}

.nav {
  &__list {
    display: flex;
    @include flex-box(row, initial, 50);
    list-style: none;
    padding: 0;
    margin: 0;
    transition: all 1s;

    @media screen and (max-width: 768px) {
      display: none;
      opacity: 0;
      //background: #fff;
      position: fixed;
      width: 100%;
      left: 0;
      top: 0;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 25px;
      transform: translate(100%, -100%);
    }
  }

  &__link {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 600;

    @media screen and (max-width:768px)  {
      font-size: 32px;
    }
  }
}

.burger-menu {
  display: none;
  background: none;
  border: none;
  width: 40px;
  height: 24px;
  position: relative;

  &__line {
    width: 40px;
    height: 2px;
    background-color: #FFF;
    display: block;
    margin: 9px 0;

  }

  @media screen and (max-width: 768px) {
    display: block;
  }
}

.responsive {
  .burger-menu__line {
    margin: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &:first-child {
      transform: rotate(45deg) translate(0,-50%);
    }

    &:nth-child(2) {
      transform: rotate(-45deg) translate(8%,-50%);
    }
    &:last-child {
      display: none;
    }
  }

  .nav {
    &__list {
      // opacity: 1;
      transform: translate(0, 0);

      &-item {
        position: relative;
        animation-name: moveX;
        animation-fill-mode: backwards;


        &:first-child {
          animation-delay: 1.5s;
          animation-duration: 1.75s;
        }

        &:nth-child(2) {
          animation-delay: 2s;
          animation-duration: 1.5s;
        }

        &:last-child {
          animation-delay: 2.5s;
          animation-duration: 1.25s;
        }
      }
    }
  }
}

.bg-img {
  // background: url(../images/image-relaxing.png) no-repeat center/cover;
  min-height: 400px;
  background-image: image-set(
    url(../images/image-relaxing.png) 1x,
    url(../images/image-relaxing@2x.png) 2x,
    url(../images/image-relaxing@3x.png) 3x,
  );

  // @media screen and (min-width: 1400px) {
  //   background: url(../images/image-relaxing@2x.png) no-repeat center/cover;
  // }

  // @media screen and (min-width: 1920px) {
  //   background: url(../images/image-relaxing@3x.png) no-repeat center/cover;
  // }

  // @media screen and (min-resolution: 2x) {
  //   background: url(../images/image-relaxing@2x.png) no-repeat center/cover;
  // }
}