// Color ///
$primary-color: #FF7F57;
$secondary-color: #2557AB;
$dark-color: #13253A;
$light-blue: #F4F6F7;

// Fonts //
$main-font: 'Avenir Next Regular', sans-serif;
$heading-font: 'Josefin Sans', sans-serif; //111

$font-size: 16px;
